aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alpaca-py==0.43.2
alpaca-trade-api==3.2.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
deprecation==2.1.0
fastapi==0.133.0
frozenlist==1.8.0
h11==0.16.0
idna==3.11
msgpack==1.0.3
multidict==6.7.1
numpy==2.4.2
packaging==26.0
pandas==3.0.1
propcache==0.4.1
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.1
requests==2.32.5
setuptools==82.0.0
six==1.17.0
sseclient-py==1.9.0
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==1.26.20
uvicorn==0.41.0
websocket-client==1.9.0
websockets==10.4
wheel==0.46.3
yarl==1.22.0
